<!-- Comment : 
   
   there are a few more features that are eliminated / modified
   1. Elimiate the Star rating (eliminated)
   2. The flip flop card is eliminated, since all meta data will be displayed under the card (eliminated)
   3. Meta data looks like button (modified)
   4. Modified to the name of the app, instead of package name
   -----------
   These will be noted as "Elim.1", "Elim.2", "modified.1"
   -->

   <!-- To do :
  
  [] Modified to the name of the app, instead of package name
  [] Color of the tag

-->
   <!DOCTYPE html>
   <html lang="en">
      <head>
         <meta charset="UTF-8">
         <link href="assets/css/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
         <link href="assets/css/jquery-ui-1.10.2.custom.min.css" media="screen" rel="stylesheet" type="text/css">
         <!-- font -->
         <link href="http://fonts.cdnfonts.com/css/fontype-rounded" rel="stylesheet">
         <link href="assets/css/stream.css" media="screen" rel="stylesheet" type="text/css">
         <script src="assets/js/jquery-1.11.3.min.js" type="text/javascript"></script>
         <script src="assets/js/jquery-ui-1.10.2.custom.min.js" type="text/javascript"></script>
         <script src="../dist/filter.js" type="text/javascript"></script>
         <script src="data/movies.js" type="text/javascript"></script>
         <script src="index.js" type="text/javascript"></script>


      </head>

      <body id="body_id">

      




         <div class="container">
            <h1 class="title"></h1>
        
            <br>

            <div class="sidebar col-md-3">
               <div>
                  <h4 class='col-md-6'>Interaction (<span id="total_movies">0</span>)</h4>
                  <!-- <div class="col-md-6 progress">
                     <div class="progress-bar" id="stream_progress" style="width:1 0%;">0%</div>
                  </div> -->
               </div>
               <div>
                  <label class="sr-only" for="searchbox">Search</label>
                  <input type="text" class="form-control" id="searchbox" placeholder="Search &hellip;">
                  <span class="glyphicon glyphicon-search search-icon"></span>
               </div>
               <br>
               <div class="well" >
                  <fieldset id="outline_criteria" >
                     <legend id="filter_lengend">Model</legend>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="All" id="all_genre">
                        <span>All</span>
                        </label>
                     </div>
                     <h4 id="filter_IS">Audio</h4>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Audio classification" >
                        <div class="icon_model">
                        <span>Audio classification</span>
                        <img  src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model classifies different categories of sounds.">
                     </div>
      
                        
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Speech recongnition" >
                        <div class="icon_model">
                           <span>Speech recongnition</span>
                           <img src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model understands the spoken words of the person speaking, and convert them to texts.">
                           </div>
                        </label>
                     </div>
                     <h4 id="filter_IS">Vision</h4>
                     <div id="filter_text" class="checkbox">
                        <label>
                           <input type="checkbox" value="Barcode scanning" >
                           <div class="icon_model">
                              <span>Barcode scanning</span>
                              <img src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model Scan and process barcodes & QR code.">
                              </div>
                           </label>
                     </div>
                     <div id="filter_text" class="checkbox">

                        <label>
                           <input type="checkbox" value="Entity extraction" >
                           <div class="icon_model">
                              <span>Entity extraction</span>
                              <img src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model detects and locates entities (such as addresses, date/time, phone numbers, and more) and take action based on those entities.">
                              </div>
                           </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                           <input type="checkbox" value="Face detection" >
                           <div class="icon_model">
                              <span>Face detection</span>
                              <img src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model detect faces and facial features (e.g., lip).">
                              </div>
                           </label>
                     </div>
                     <div id="filter_text" class="checkbox">

                        <label>
                           <input type="checkbox" value="Object detection and tracking" >
                           <div class="icon_model">
                              <span>Object detection and <br>tracking</span>
                              <img src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model localises and tracks in real time one or more objects in the live camera feed.">
                              </div>
                           </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                           <input type="checkbox" value="Pose detection" >
                           <div class="icon_model">
                              <span>Pose detection</span>
                              <img src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model detects the position of the human body in real time.">
                              </div>
                           </label>
                     </div>
                     <div id="filter_text" class="checkbox">


                        <label>
                           <input type="checkbox" value="Selfie segmentation" >
                           <div class="icon_model">
                              <span>Selfie segmentation</span>
                              <img src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model separates the background from users within a scene and focus on what matters.">
                              </div>
                           </label>
                     </div>
                     <div id="filter_text" class="checkbox">

                        <label>
                           <input type="checkbox" value="Style transfer" >
                           <div class="icon_model">
                              <span>Style transfer</span>
                              <img src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model composes one image in the style of another image.">
                              </div>
                           </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                           <input type="checkbox" value="Image classification" >
                           <div class="icon_model">
                              <span>Image classification</span>
                              <img src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model identifies objects, locations, activities, animal species, products, and more. It can tailor to a particular use case (e.g., Hotdog or Not?). ">
                              </div>
                           </label>
                     </div>
                     <div id="filter_text" class="checkbox">

                        <label>
                           <input type="checkbox" value="Image segmentation" >
                           <div class="icon_model">
                              <span>Image segmentation</span>
                              <img src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model divides the image into different segments.">
                              </div>
                           </label>
                     </div>
                     <div id="filter_text" class="checkbox">

                        <label>
                           <input type="checkbox" value="Text prediction" >
                           <div class="icon_model">
                              <span>Text prediction</span>
                              <img src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model anticipates user's next words and suggests words or phrases as user type.">
                              </div>
                           </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                           <input type="checkbox" value="Speech recongnition" >
                           <div class="icon_model">
                              <span>Text recognition</span>
                              <img src="https://raw.githubusercontent.com/jasonxsiu/Gallery_filterJS/main/examples/assets/css/images/question_mark.png" title="This model recognises and extracts text from images.">
                              </div>
                           </label>
                     </div>
                  </fieldset>
                  <br>
               </div>
               <div class="well" >
                  <!-- Interaction Style -->
                  <fieldset id="certificate_criteria">
                     <legend id="filter_lengend">Interaction Style</legend>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="All" id="all_IS">
                        <span>All</span>
                        </label>
                     </div>
                     <h4 id="filter_IS">No interaction</h4>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Importing files">
                        <span>Importing files</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="No interaction with hardware input">
                        <span>No interaction with hardware input</span>
                        </label>
                     </div>
                     <div>
                        <h4 id="filter_IS">Static interaction</h4>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Pop-up messages">
                        <span>Pop-up messages</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Vibration">
                        <span>Vibration</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Auditory feedback (Static)">
                        <span>Auditory feedback (Static)</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Illustration of correct input">
                        <span>Illustration of correct input</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Instruction">
                        <span>Instruction</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Camera frame">
                        <span>Camera frame</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Flashlight">
                        <span>Flashlight</span>
                        </label>
                     </div>
                     <h4 id="filter_IS">Dynamic interaction</h4>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Text suggestion">
                        <span>Text suggestion</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Auditory feedback (Dynamic)">
                        <span>Auditory feedback (Dynamic)</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Auto focusing object">
                        <span>Auto focusing object</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Object marker">
                        <span>Object marker</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Camera adjustment">
                        <span>Camera adjustment</span>
                        </label>
                     </div>
                  </fieldset>
               </div>
               <div class="well" >
                  <fieldset id="representation" >
                     <legend id="filter_lengend">Representation</legend>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="All" id="all_representation">
                        <span>All</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Visual" >
                        <span>Visual</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Aural" >
                        <span>Aural</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Text" >
                        <span>Text</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="Haptic" >
                        <span>Haptic</span>
                        </label>
                     </div>
                     <div id="filter_text" class="checkbox">
                        <label>
                        <input type="checkbox" value="None" >
                        <span>None</span>
                        </label>
                     </div>
                  </fieldset>
               </div>
            </div>
            <!-- Representation -->
            <!-- card -->
            <div class="col-md-9">

               <!-- <div class="center">
                  <p style="font-size: 13px;" id="button_style">Interaction Style </p>
                  &nbsp
                  <p style="font-size: 13px;" id="button_model"> Model </p>
                  &nbsp
                  <p style="font-size: 13px;" id="button_rep"> Representation </p>
                  &nbsp
                  <p style="font-size: 13px;" id="button_Cat"> App category </p>
               </div> -->
               &nbsp

               <div class="movies content row" id="movies"> </div>
            </div>
         </div>
         <script id="movie-template" type="text/html">
            <div class="col-md-4 movie">
              <div class="thumbnail">

                <!-- Start - Elim.1 -->
                <!-- <span class="label label-success rating">
                  <%= rating %>
                  <i class="glyphicon glyphicon-star"></i>
                </span> -->
                <!-- End - Elim.1 -->

                <!-- Start - Elim.2 -->
                <!-- <div class="caption">
                  <h4><%= _fid %>. <%= name %></h4>
                  <div class="outline" id="card_text">
                    <br>
                    <b>Model : </b><%= outline %> <br>
                    <b>Representation : </b><%= representation %><br>
                    <b>App category :</b> <%= director %>
                    
                  </div> -->
                <!-- End - Elim.1 -->

                  <div class="detail">
                    <dl>
                      <h4><%= _fid %>. <%= name %></h4> <br>
                      <img src=<%= year %> style="width: 24.5rem;  display: block;
                      margin-left: auto;
                      margin-right: auto;"loading="lazy"></iframe>
            <!-- 
                      <dt>Director</dt><dd><%= director %></dd>
                      <dt>Actors</dt>
                      <dd><%= stars %></dt> -->
                      <!-- <dt>Year</dt> -->
                      <!-- <dd><%= year %></dd> -->
                      <br>            
                      <dd id="card_title">
                        <button id="button_style" title="Interaction Style"><%= certificate %> </button>
                        <button id="button_model" title="Model"><%= outline %> </button>
                        <button id="button_rep"  title="Representation"><%= representation %> </button>
                        <button id="button_Cat" title="App category"><%= director %> </button>
                      </dd>
                    </dl>
                  </div>
                </div>
              </div>
         </script>
         <script id="genre_template" type="text/html">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="<%= genre %>"> <%= genre %>
              </label>
            </div>
         </script>
      </body>
   </html>